name: cypress
on: push

permissions:
  contents: read

jobs:
  cypress:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: npm
          node-version-file: .nvmrc

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Cypress run
        uses: cypress-io/github-action@v7
        with:
          browser: chrome
          start: |
            npx vite --host
            npm run firebase:emulators
          wait-on: 'http://localhost:5173, http://localhost:4000'

      - name: Record failed screenshots
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: cypress-screenshots
          path: cypress/screenshots

      - name: Record videos
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: cypress-videos
          path: cypress/videos
